<div class="msg-wrapper" data-message-id="<%= message.id %>" data-sender-id="<%= message.sender_id %>" data-recipient-id="<%= message.recipient_id %>">
  <div class="msg__meta">
    <span class="msg__name"><%= message.sender&.name || "Unknown" %></span>
    <span class="msg__time"><%= message.created_at.strftime("%I:%M %p") %></span>
  </div>

  <div class="msg__content">
    <%= simple_format(message.content) %>

    <% if message.attachments.attached? %>
      <div class="msg__attachments">
        <% message.attachments.each do |file| %>
          <%= link_to file.filename.to_s, url_for(file), class: "msg__file", target: "_blank", rel: "noopener" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
